@font-face {
   font-family: 'Nova';
   src: url(../fonts/Ibarra_Real_Nova/static/IbarraRealNova-Medium.ttf);
}

@font-face {
   font-family: 'Public Sans';
   src: url(../fonts/Public_Sans/static/PublicSans-Medium.ttf);
}